/android_arch_core_common_1_0_0_jar.xml
/android_arch_lifecycle_common_1_0_0_jar.xml
/android_arch_lifecycle_runtime_1_0_0.xml
/com_android_support_animated_vector_drawable_26_1_0.xml
/com_android_support_appcompat_v7_26_1_0.xml
/com_android_support_constraint_constraint_layout_1_0_2.xml
/com_android_support_constraint_constraint_layout_solver_1_0_2_jar.xml
/com_android_support_design_26_1_0.xml
/com_android_support_multidex_1_0_2.xml
/com_android_support_multidex_instrumentation_1_0_2.xml
/com_android_support_recyclerview_v7_26_1_0.xml
/com_android_support_support_annotations_26_1_0_jar.xml
/com_android_support_support_compat_26_1_0.xml
/com_android_support_support_core_ui_26_1_0.xml
/com_android_support_support_core_utils_26_1_0.xml
/com_android_support_support_fragment_26_1_0.xml
/com_android_support_support_media_compat_26_1_0.xml
/com_android_support_support_v4_26_1_0.xml
/com_android_support_support_vector_drawable_26_1_0.xml
/com_android_support_test_espresso_espresso_core_3_0_1.xml
/com_android_support_test_espresso_espresso_idling_resource_3_0_1.xml
/com_android_support_test_rules_1_0_1.xml
/com_android_support_test_runner_1_0_1.xml
/com_android_support_transition_26_1_0.xml
/com_google_code_findbugs_jsr305_2_0_1_jar.xml
/com_squareup_javawriter_2_1_1_jar.xml
/javax_inject_javax_inject_1_jar.xml
/junit_junit_4_12_jar.xml
/net_sf_kxml_kxml2_2_3_0_jar.xml
/org_hamcrest_hamcrest_core_1_3_jar.xml
/org_hamcrest_hamcrest_integration_1_3_jar.xml
/org_hamcrest_hamcrest_library_1_3_jar.xml
/org_java_websocket_Java_WebSocket_1_3_0_jar.xml
/org_jetbrains_annotations_13_0_jar.xml
/org_jetbrains_kotlin_kotlin_stdlib_1_1_51_jar.xml
/org_jetbrains_kotlin_kotlin_stdlib_jre7_1_1_51_jar.xml
